<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benius Freelancer | Personal Info Page</title>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- END STYLE CSS -->
  </head>
  <body class="body-form">

    <div class="container-login register">
        <div class="content-form">
            <div class="wrapper-content">
                <img src="../../assets/img/brand/brand-logo.svg" class="form-logo" alt="Brand Logo" width="52">
                <div class="content">
                    <div class="wrapper">
                        <h2 class="form-title">Personal Info</h2>
                        <div class="form-group">
                            <div class="wrapper">
                                <div class="input-wrapper">
                                    <input type="text" class="input" placeholder="Enter your first name" value="Ivan">
                                    <label>
                                        <div class="username-icon"></div>
                                        <div class="line"></div>
                                    </label>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" class="input" placeholder="Enter your last name" value="Verdyansyah">
                                    <label>
                                        <div class="username-icon"></div>
                                        <div class="line"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="input-wrapper">
                                <select class="input input-select">
                                    <option selected>Select your country</option>
                                    <option value="indonesia">Indonesia</option>
                                    <option value="england">England</option>
                                </select>
                                <label>
                                    <div class="country-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <textarea rows="4" class="input input-textarea" placeholder="Enter your description"></textarea>
                            </div>
                        </div>
                        <div class="wrapper-other">
                            <a href="../professional-info/index.html" class="button-default">
                                Submit and Next
                                <img src="../../assets/img/icon/arrow-right-light.svg" alt="Arrow Icon" width="10">
                            </a>
                            <p class="caption-step">1<span> / 4</span></p>
                        </div>
                    </div>
                </div>
                <p style="opacity: 0;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam optio molestias, non rerum, dolores culpa quia modi doloremque impedit officiis unde facilis sed exercitationem! Dolores placeat id esse iure ullam.</p>
            </div>
        </div>
        <div class="content-banner">
            <img src="../../assets/img/banner/banner-freelancer.jpg" class="img-banner" alt="Banner Form">
        </div>
    </div>

    <!-- SCRIPT JS -->
    <script src="../../assets/js/script.js"></script>
    <!-- END SCRIPT JS -->
  </body>
</html>
