<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benius Freelancer | Linked Account Page</title>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- END STYLE CSS -->
  </head>
  <body class="body-form">

    <div class="container-login register">
        <div class="content-form">
            <div class="wrapper-content">
                <img src="../../assets/img/brand/brand-logo.svg" class="form-logo" alt="Brand Logo" width="52">
                <div class="content">
                    <div class="wrapper">
                        <h2 class="form-title">Link Account</h2>
                        <div class="form-group">
                            <div class="input-wrapper">
                                <input type="text" class="input input-full" placeholder="Enter your link facebook">
                                <label>
                                    <div class="facebook-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <input type="text" class="input input-full" placeholder="Enter your link instagram">
                                <label>
                                    <div class="instagram-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <input type="text" class="input input-full" placeholder="Enter your link twitter">
                                <label>
                                    <div class="twitter-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                            <div class="wrapper">
                                <div class="input-wrapper">
                                    <input type="text" class="input" placeholder="Choose file resume" disabled>
                                    <label>
                                        <div class="file-icon"></div>
                                        <div class="line"></div>
                                    </label>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" class="input" placeholder="Choose file cv" disabled>
                                    <label>
                                        <div class="file-icon"></div>
                                        <div class="line"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-other">
                            <a href="../account-security/index.html" class="button-default">
                                Submit and Next
                                <img src="../../assets/img/icon/arrow-right-light.svg" alt="Arrow Icon" width="10">
                            </a>
                            <p class="caption-step">3<span> / 4</span></p>
                        </div>
                    </div>
                </div>
                <p style="opacity: 0;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam optio molestias, non rerum, dolores culpa quia modi doloremque impedit officiis unde facilis sed exercitationem! Dolores placeat id esse iure ullam.</p>
            </div>
        </div>
        <div class="content-banner">
            <img src="../../assets/img/banner/banner-freelancer.jpg" class="img-banner" alt="Banner Form">
        </div>
    </div>

    <!-- SCRIPT JS -->
    <script src="../../assets/js/script.js"></script>
    <!-- END SCRIPT JS -->
  </body>
</html>
