<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benius Freelancer | Sub Category Page</title>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- END STYLE CSS -->
  </head>
  <body>

    <div class="container">
        <div class="navbar">
            <img src="../../assets/img/brand/brand-logo.svg" class="form-logo" alt="Brand Logo" width="52">
            <div class="input-search">
                <input type="text" placeholder="What service are you looking..">
                <label>
                    <div class="line"></div>
                    <div class="search-icon"></div>
                </label>
            </div>
            <div class="nav-wrapper">
                <div class="nav-item">
                    <img src="../../assets/img/icon/notification.svg" class="nav-item-icon" alt="Nav Item">
                </div>
                <div class="nav-item">
                    <img src="../../assets/img/icon/order.svg" class="nav-item-icon" alt="Nav Item">
                </div>
                <div class="nav-item">
                    <img src="../../assets/img/icon/light-mode.svg" class="nav-item-icon" alt="Nav Item">
                </div>
            </div>
            <img src="../../assets/img/profile/profile-img.svg" class="profile-img" alt="Profile Image" width="46">
        </div>
    </div>
    <div class="category-list">
        <div class="container">
            <div class="wrapper">
                <a href="#">Digital Marketing</a>
                <a href="#" class="active">Programming & Tech</a>
                <a href="#">Graphics & Design</a>
                <a href="#">Video & Animation</a>
                <a href="#">Writing & Translation</a>
                <a href="#">Music & Audio</a>
                <a href="#">Business</a>
                <a href="#">AI Services</a>
                <a href="#">Photography</a>
                <a href="#">Data</a>
                <a href="#">Marketing & Sponsorship</a>
            </div>
        </div>
    </div>
    <section class="banner">
        <div class="container">
            <h1 class="title">HTML 5</h1>
            <p class="paragraph">Explore the power of HTML 5, the latest evolution of the web's fundamental markup language, offering enhanced multimedia support and advanced features for modern web development.</p>
            <a href="#" class="button-default-white-reverse">Explore Service</a>
        </div>
    </section>
    <div class="container">
        <section class="popular">
            <div class="header">
                <h4 class="subtitle">Most Popular Service in HTML 5</h4>
                <p class="paragraph">Exploring the HTML 5 world's favorite service</p>
            </div>
            <div class="content">
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-1.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Sarah Viloid</p>
                        <h6 class="price">IDR. 500.000</h6>
                    </div>
                    <p class="description">I will build your professional wix website with unlimited revisions</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(12.456)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-2.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Adrian Velgona</p>
                        <h6 class="price">IDR. 375.000</h6>
                    </div>
                    <p class="description">I will design a 3d interactive and animated webflow landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(10.876)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-3.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Dimas Saputra</p>
                        <h6 class="price">IDR. 690.000</h6>
                    </div>
                    <p class="description">I will develop, design and kickstart your ecommerce shopify website</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(9.852)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-4.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Ayu Saputri</p>
                        <h6 class="price">IDR. 550.000</h6>
                    </div>
                    <p class="description">I will build custom wordpress landing page that converts</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(8.543)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-5.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Widya Salomon</p>
                        <h6 class="price">IDR. 400.000</h6>
                    </div>
                    <p class="description">I will develop editable hubspot websites, blogs, and landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(8.456)</p>
                    </div>
                </a>
            </div>
        </section>
        <section class="author">
            <a href="#" class="card-author">
                <img src="../../assets/img/testimoni/sample-testimoni-1.svg" class="author-img" alt="Author Icon" width="46">
                <div class="wrapper-author">
                    <p class="title">Olivia Mitchell</p>
                    <p class="category">HTML 5, JavaScript</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                        </div>
                    </div>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="align-self: center;">
            </a>
            <a href="#" class="card-author">
                <img src="../../assets/img/testimoni/sample-testimoni-2.svg" class="author-img" alt="Author Icon" width="46">
                <div class="wrapper-author">
                    <p class="title">Benjamin Evans</p>
                    <p class="category">HTML 5, CSS 3</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                        </div>
                    </div>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="align-self: center;">
            </a>
            <a href="#" class="card-author">
                <img src="../../assets/img/testimoni/sample-testimoni-3.svg" class="author-img" alt="Author Icon" width="46">
                <div class="wrapper-author">
                    <p class="title">Emily Parker</p>
                    <p class="category">HTML 5</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                        </div>
                    </div>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="align-self: center;">
            </a>
            <a href="#" class="card-author">
                <img src="../../assets/img/testimoni/sample-testimoni-4.svg" class="author-img" alt="Author Icon" width="46">
                <div class="wrapper-author">
                    <p class="title">Samuel Turner</p>
                    <p class="category">C++, HTML 5</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                        </div>
                    </div>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="align-self: center;">
            </a>
            <a href="#" class="card-author">
                <img src="../../assets/img/testimoni/sample-testimoni-5.svg" class="author-img" alt="Author Icon" width="46">
                <div class="wrapper-author">
                    <p class="title">Putri Saraswati</p>
                    <p class="category">HTML 5, Java</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                        </div>
                    </div>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="align-self: center;">
            </a>
            <a href="#" class="card-author">
                <img src="../../assets/img/testimoni/sample-testimoni-6.svg" class="author-img" alt="Author Icon" width="46">
                <div class="wrapper-author">
                    <p class="title">Angga Dewa</p>
                    <p class="category">HTML 5, React</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="14" height="13">
                        </div>
                    </div>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="align-self: center;">
            </a>
        </section>
        <section class="result">
            <div class="header">
                <h4 class="subtitle">All Service in HTML 5</h4>
                <p class="paragraph">Exploring the HTML 5 world's service</p>
            </div>
            <div class="content">
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-1.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Sarah Viloid</p>
                        <h6 class="price">IDR. 500.000</h6>
                    </div>
                    <p class="description">I will build your professional wix website with unlimited revisions</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(12.456)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-2.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Adrian Velgona</p>
                        <h6 class="price">IDR. 375.000</h6>
                    </div>
                    <p class="description">I will design a 3d interactive and animated webflow landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(10.876)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-3.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Dimas Saputra</p>
                        <h6 class="price">IDR. 690.000</h6>
                    </div>
                    <p class="description">I will develop, design and kickstart your ecommerce shopify website</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(9.852)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-4.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Ayu Saputri</p>
                        <h6 class="price">IDR. 550.000</h6>
                    </div>
                    <p class="description">I will build custom wordpress landing page that converts</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(8.543)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-5.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Widya Salomon</p>
                        <h6 class="price">IDR. 400.000</h6>
                    </div>
                    <p class="description">I will develop editable hubspot websites, blogs, and landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(8.456)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-6.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Destina Ayu</p>
                        <h6 class="price">IDR. 500.000</h6>
                    </div>
                    <p class="description">I will build, update or fix webflow website in your budget</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(1.355)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-7.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Albert Weisker</p>
                        <h6 class="price">IDR. 405.000</h6>
                    </div>
                    <p class="description">I will develop webflow website and convert figma to webflow</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(2.009)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-8.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Leon Kennedy</p>
                        <h6 class="price">IDR. 690.000</h6>
                    </div>
                    <p class="description">I will develop editable hubspot cms, website, blog, landing page, modules, and emails</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(1.345)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-9.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Dewa Putra</p>
                        <h6 class="price">IDR. 550.000</h6>
                    </div>
                    <p class="description">I will create elementor pro wordpress site and fix issues</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(983)</p>
                    </div>
                </a>
                <a href="#" class="card-service">
                    <img src="../../assets/img/service/sample-service-10.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Agus Putrawan</p>
                        <h6 class="price">IDR. 400.000</h6>
                    </div>
                    <p class="description">I will build a high converting landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(3.786)</p>
                    </div>
                </a>
            </div>
        </section>
    </div>
    <section class="adventage">
        <div class="container">
            <div class="header">
                <h4 class="subtitle">Frequently Asked Questions</h4>
                <p class="paragraph">Find answers to common queries about HTML 5</p>
            </div>
            <div class="content-question">
                <div class="question-group">
                    <div class="wrapper-header">
                        <p class="title">What are some of the best features that make it superior to previous versions?</p>
                        <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="rotate: 90deg;">
                    </div>
                    <p class="answear">Certainly, HTML5 brings several new features that make it more powerful. Some of the standout features include the ability to incorporate multimedia such as audio and video without the need for additional plugins. Additionally, HTML5 supports semantic elements like header, footer, and article, making the structure of web pages clearer and more SEO-friendly. It also includes geolocation API, local storage, and the ability to work offline, all of which enhance the user experience.</p>
                </div>
                <div class="question-group">
                    <div class="wrapper-header">
                        <p class="title">How does HTML5 support responsive design in web development?</p>
                        <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="rotate: 90deg;">
                    </div>
                    <p class="answear">HTML5 supports responsive design by providing fluid grids and media queries. These features allow developers to create websites that look good and function properly on a variety of devices and screen sizes.</p>
                </div>
                <div class="question-group">
                    <div class="wrapper-header">
                        <p class="title">How does HTML5 affect SEO? Are there features that support search engine optimization?</p>
                        <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right-icon" alt="Arrow Dark Right Icon" width="10" style="rotate: 90deg;">
                    </div>
                    <p class="answear">HTML5 introduces a number of new semantic elements, such as header, footer, nav, and section. These elements can be used to provide more information about the content of a web page, which can make it easier for search engines to understand and index the page.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="cta">
            <h1 class="title">Become an Freelancer</h1>
            <p class="paragraph">Join us as a freelancer and embark on a journey of limitless opportunities. Whether you're a seasoned professional or just starting your freelance career, our platform provides you with the tools, resources, and a supportive network to thrive in the ever-evolving gig economy.</p>
            <div class="wrapper-button">
                <a href="#" class="button-default-dark">Register Freelancer</a>
                <a href="#" class="button-default-dark-reverse">Explore Service</a>
            </div>
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="content-definition">
                    <img src="../../assets/img/brand/brand-logo-reverse.svg" class="brand-logo" alt="Brand Logo Reverse" width="52">
                    <p class="caption">Welcome to our freelancer platform, where talent meets opportunity. We're your gateway to a world of skilled professionals and exciting projects.</p>
                    <div class="footer-sosmed">
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/facebook-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/whatsapp-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/twitter-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                    </div>
                </div>
                <div class="link-footer">
                    <div class="link-group first">
                        <p class="footer-title">Category</p>
                        <div class="wrapper-footer">
                            <div class="footer-list">
                                <a href="#" class="list-link">Digital Marketing</a>
                                <a href="#" class="list-link">Programming & Tech</a>
                                <a href="#" class="list-link">Graphics & Design</a>
                                <a href="#" class="list-link">Video & Animation</a>
                                <a href="#" class="list-link">Business</a>
                            </div>
                            <div class="footer-list">
                                <a href="#" class="list-link">Writing & Translation</a>
                                <a href="#" class="list-link">Music & Audio</a>
                                <a href="#" class="list-link">AI Services</a>
                                <a href="#" class="list-link">Photography</a>
                                <a href="#" class="list-link">Data</a>
                            </div>
                        </div>
                    </div>
                    <div class="link-group">
                        <p class="footer-title">Our Adventage</p>
                        <div class="footer-list">
                            <a href="#" class="list-link">Browse portfolios</a>
                            <a href="#" class="list-link">Fast offer</a>
                            <a href="#" class="list-link">Quality of work</a>
                            <a href="#" class="list-link">Track progress</a>
                        </div>
                    </div>
                    <div class="link-group">
                        <p class="footer-title">Help & guide</p>
                        <div class="footer-list">
                            <a href="#" class="list-link">Terms & Conditions</a>
                            <a href="#" class="list-link">Privacy Policy</a>
                            <a href="#" class="list-link">Trust & Safety</a>
                            <a href="#" class="list-link">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="content-definition mobile">
                    <img src="../../assets/img/brand/brand-logo-reverse.svg" class="brand-logo" alt="Brand Logo Reverse" width="52">
                    <p class="caption">Welcome to our freelancer platform, where talent meets opportunity. We're your gateway to a world of skilled professionals and exciting projects.</p>
                    <div class="footer-sosmed">
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/facebook-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/whatsapp-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/twitter-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright © 2023 Benius. All Right Reserved.</p>
    </footer>

    <!-- SCRIPT JS -->
    <script src="../../assets/js/script.js"></script>
    <script>
        const questionGroup = document.querySelectorAll('.question-group');
        
        questionGroup.forEach(element => {
            element.addEventListener('click', function() {
                const answear = this.querySelector('.answear');
                answear.classList.toggle('active');
            });
        });
    </script>
    <!-- END SCRIPT JS -->
  </body>
</html>
