<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benius Freelancer | Professional Info Page</title>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- END STYLE CSS -->
  </head>
  <body class="body-form">

    <div class="container-login register">
        <div class="content-form">
            <div class="wrapper-content">
                <img src="../../assets/img/brand/brand-logo.svg" class="form-logo" alt="Brand Logo" width="52">
                <div class="content">
                    <div class="wrapper">
                        <h2 class="form-title">Professional</h2>
                        <div class="form-group">
                            <div class="wrapper">
                                <div class="input-wrapper">
                                    <input type="text" class="input" placeholder="Enter your work type">
                                    <label>
                                        <div class="work-icon"></div>
                                        <div class="line"></div>
                                    </label>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" class="input" placeholder="Enter your experience">
                                    <label>
                                        <div class="experience-icon"></div>
                                        <div class="line"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="input-wrapper">
                                <input type="text" class="input input-full" placeholder="Enter your occupation">
                                <label>
                                    <div class="job-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <select class="input input-select">
                                    <option selected>Select response time</option>
                                    <option value="1 hour">1 hour</option>
                                    <option value="2 hour">2 hour</option>
                                    <option value="3 hour">3 hour</option>
                                    <option value="4 hour">4 hour</option>
                                </select>
                                <label>
                                    <div class="response-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <select class="input input-select">
                                    <option selected>Select last delivery</option>
                                    <option value="1 day">1 day</option>
                                    <option value="2 day">2 day</option>
                                    <option value="3 day">3 day</option>
                                    <option value="4 day">4 day</option>
                                </select>
                                <label>
                                    <div class="delivery-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                        </div>
                        <div class="wrapper-other">
                            <a href="../linked-account/index.html" class="button-default">
                                Submit and Next
                                <img src="../../assets/img/icon/arrow-right-light.svg" alt="Arrow Icon" width="10">
                            </a>
                            <p class="caption-step">2<span> / 4</span></p>
                        </div>
                    </div>
                </div>
                <p style="opacity: 0;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam optio molestias, non rerum, dolores culpa quia modi doloremque impedit officiis unde facilis sed exercitationem! Dolores placeat id esse iure ullam.</p>
            </div>
        </div>
        <div class="content-banner">
            <img src="../../assets/img/banner/banner-freelancer.jpg" class="img-banner" alt="Banner Form">
        </div>
    </div>

    <!-- SCRIPT JS -->
    <script src="../../assets/js/script.js"></script>
    <!-- END SCRIPT JS -->
  </body>
</html>
