<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benius Freelancer | Detail Service Page</title>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- END STYLE CSS -->
  </head>
  <body>

    <div class="container">
        <div class="navbar">
            <img src="../../assets/img/brand/brand-logo.svg" class="form-logo" alt="Brand Logo" width="52">
            <div class="input-search">
                <input type="text" placeholder="What service are you looking..">
                <label>
                    <div class="line"></div>
                    <div class="search-icon"></div>
                </label>
            </div>
            <div class="nav-wrapper">
                <div class="nav-item">
                    <img src="../../assets/img/icon/notification.svg" class="nav-item-icon" alt="Nav Item">
                </div>
                <div class="nav-item">
                    <img src="../../assets/img/icon/order.svg" class="nav-item-icon" alt="Nav Item">
                </div>
                <div class="nav-item">
                    <img src="../../assets/img/icon/light-mode.svg" class="nav-item-icon" alt="Nav Item">
                </div>
            </div>
            <img src="../../assets/img/profile/profile-img.svg" class="profile-img" alt="Profile Image" width="46">
        </div>
    </div>
    <div class="container" style="margin-bottom: 120px;">
        <div class="profile-group activity">
            <div class="card-profile-data">
                <img src="../../assets/img/profile/profile-img.svg" class="author-img" alt="Author Profile" width="56">
                <div class="profile-data">
                    <p class="username">Ivan Verdyansyah</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(13.083)</p>
                    </div>
                </div>
            </div>
            <div class="wrapper-page">
                <div class="wrapper-button">
                    <a href="#" class="button-small">Overview</a>
                    <a href="#" class="button-small active">Activity</a>
                </div>
                <div class="card-profile">
                    <h4 class="subtitle">All Service Available</h4>
                    <div class="data-group">
                        <div class="group-item activity">
                            <img src="../../assets/img/service/sample-service-1.jpg" alt="Data Icon" width="156" class="service-img">
                            <div class="wrapper-text">
                                <p class="title">I will create modern webflow design or update your website</p>
                                <p class="price">IDR. 400.000</p>
                                <div class="rating">
                                    <p>5.0</p>
                                    <div class="star">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                    </div>
                                    <p class="total">(12.456)</p>
                                </div>
                            </div>
                        </div>
                        <div class="group-item activity">
                            <img src="../../assets/img/service/sample-service-2.jpg" alt="Data Icon" width="156" class="service-img">
                            <div class="wrapper-text">
                                <p class="title">I will develop editable hubspot websites, blogs, and landing page</p>
                                <p class="price">IDR. 175.000</p>
                                <div class="rating">
                                    <p>5.0</p>
                                    <div class="star">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                    </div>
                                    <p class="total">(7.874)</p>
                                </div>
                            </div>
                        </div>
                        <div class="group-item activity">
                            <img src="../../assets/img/service/sample-service-3.jpg" alt="Data Icon" width="156" class="service-img">
                            <div class="wrapper-text">
                                <p class="title">I will create shopify product landing page with pagefly or gempages</p>
                                <p class="price">IDR. 650.000</p>
                                <div class="rating">
                                    <p>5.0</p>
                                    <div class="star">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                    </div>
                                    <p class="total">(3.452)</p>
                                </div>
                            </div>
                        </div>
                        <div class="group-item activity">
                            <img src="../../assets/img/service/sample-service-4.jpg" alt="Data Icon" width="156" class="service-img">
                            <div class="wrapper-text">
                                <p class="title">I will design responsive wordpress website and ecommerce website</p>
                                <p class="price">IDR. 800.000</p>
                                <div class="rating">
                                    <p>5.0</p>
                                    <div class="star">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                    </div>
                                    <p class="total">(4.234)</p>
                                </div>
                            </div>
                        </div>
                        <div class="group-item activity">
                            <img src="../../assets/img/service/sample-service-5.jpg" alt="Data Icon" width="156" class="service-img">
                            <div class="wrapper-text">
                                <p class="title">I will be your webflow developer for webflow website with flawless webflow design</p>
                                <p class="price">IDR. 650.000</p>
                                <div class="rating">
                                    <p>5.0</p>
                                    <div class="star">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                    </div>
                                    <p class="total">(3.765)</p>
                                </div>
                            </div>
                        </div>
                        <div class="group-item activity">
                            <img src="../../assets/img/service/sample-service-6.jpg" alt="Data Icon" width="156" class="service-img">
                            <div class="wrapper-text">
                                <p class="title">I will design stunning wordpress website using elementor pro page builders</p>
                                <p class="price">IDR. 700.000</p>
                                <div class="rating">
                                    <p>5.0</p>
                                    <div class="star">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                        <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                                    </div>
                                    <p class="total">(6.023)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="content-definition">
                    <img src="../../assets/img/brand/brand-logo-reverse.svg" class="brand-logo" alt="Brand Logo Reverse" width="52">
                    <p class="caption">Welcome to our freelancer platform, where talent meets opportunity. We're your gateway to a world of skilled professionals and exciting projects.</p>
                    <div class="footer-sosmed">
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/facebook-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/whatsapp-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/twitter-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                    </div>
                </div>
                <div class="link-footer">
                    <div class="link-group first">
                        <p class="footer-title">Category</p>
                        <div class="wrapper-footer">
                            <div class="footer-list">
                                <a href="#" class="list-link">Digital Marketing</a>
                                <a href="#" class="list-link">Programming & Tech</a>
                                <a href="#" class="list-link">Graphics & Design</a>
                                <a href="#" class="list-link">Video & Animation</a>
                                <a href="#" class="list-link">Business</a>
                            </div>
                            <div class="footer-list">
                                <a href="#" class="list-link">Writing & Translation</a>
                                <a href="#" class="list-link">Music & Audio</a>
                                <a href="#" class="list-link">AI Services</a>
                                <a href="#" class="list-link">Photography</a>
                                <a href="#" class="list-link">Data</a>
                            </div>
                        </div>
                    </div>
                    <div class="link-group">
                        <p class="footer-title">Our Adventage</p>
                        <div class="footer-list">
                            <a href="#" class="list-link">Browse portfolios</a>
                            <a href="#" class="list-link">Fast offer</a>
                            <a href="#" class="list-link">Quality of work</a>
                            <a href="#" class="list-link">Track progress</a>
                        </div>
                    </div>
                    <div class="link-group">
                        <p class="footer-title">Help & guide</p>
                        <div class="footer-list">
                            <a href="#" class="list-link">Terms & Conditions</a>
                            <a href="#" class="list-link">Privacy Policy</a>
                            <a href="#" class="list-link">Trust & Safety</a>
                            <a href="#" class="list-link">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="content-definition mobile">
                    <img src="../../assets/img/brand/brand-logo-reverse.svg" class="brand-logo" alt="Brand Logo Reverse" width="52">
                    <p class="caption">Welcome to our freelancer platform, where talent meets opportunity. We're your gateway to a world of skilled professionals and exciting projects.</p>
                    <div class="footer-sosmed">
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/facebook-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/whatsapp-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a href="#" class="sosmed-link">
                            <img src="../../assets/img/icon/twitter-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright © 2023 Benius. All Right Reserved.</p>
    </footer>

    <!-- SCRIPT JS -->
    <script src="../../assets/js/script.js"></script>
    <!-- END SCRIPT JS -->
  </body>
</html>
