<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benius Freelancer | Login Page</title>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- END STYLE CSS -->
  </head>
  <body class="body-form">

    <div class="container-login">
        <div class="content-form">
            <div class="wrapper-content">
                <img src="../../assets/img/brand/brand-logo.svg" class="form-logo" alt="Brand Logo" width="52">
                <div class="content">
                    <div class="wrapper">
                        <h2 class="form-title">Login</h2>
                        <div class="form-group">
                            <div class="input-wrapper">
                                <input type="text" class="input" placeholder="Enter your email">
                                <label>
                                    <div class="email-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <input type="password" class="input" placeholder="Enter your password">
                                <label>
                                    <div class="password-icon"></div>
                                    <div class="line"></div>
                                </label>
                            </div>
                        </div>
                        <a href="../main-page/index.html" class="button-default">
                            Login Account
                            <img src="../../assets/img/icon/arrow-right-light.svg" alt="Arrow Icon" width="10">
                        </a>
        
                        <p class="link-redirect">Don’t have an account? <a href="../register/index.html">Register for Free</a></p>
                    </div>
                </div>
                <p style="opacity: 0;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam optio molestias, non rerum, dolores culpa quia modi doloremque impedit officiis unde facilis sed exercitationem! Dolores placeat id esse iure ullam.</p>
            </div>
        </div>
        <div class="content-banner">
            <img src="../../assets/img/banner/banner-login.jpg" class="img-banner" alt="Banner Form">
        </div>
    </div>

    <!-- SCRIPT JS -->
    <script src="../../assets/js/script.js"></script>
    <!-- END SCRIPT JS -->
  </body>
</html>
