<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benius Freelancer | Login Page</title>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- END STYLE CSS -->
  </head>
  <body class="body-form">

    <div class="container-login">
        <div class="content-form">
            <div class="wrapper-content">
                <img src="../../assets/img/brand/brand-logo.svg" class="form-logo" alt="Brand Logo">
                <div class="content">
                    <h2 class="form-title">Login</h2>
                    <div class="form-group">
                        <div class="input-wrapper">
                            <input type="text" class="input" placeholder="Enter your email">
                            <label>
                                <div class="email-icon"></div>
                                <div class="line"></div>
                            </label>
                        </div>
                        <div class="input-wrapper">
                            <input type="password" class="input" placeholder="Enter your password">
                            <label>
                                <div class="password-icon"></div>
                                <div class="line"></div>
                            </label>
                        </div>
                    </div>
                    <a href="#" class="button-default">
                        Login Account
                        <img src="../../assets/img/icon/arrow-right-light.svg" alt="Arrow Icon" width="10">
                    </a>
    
                    <p class="link-redirect">Don’t have an account? <a href="../register/index.html">Register for Free</a></p>
                </div>
            </div>
        </div>
        <div class="content-banner">
            <img src="../../assets/img/banner/banner-login.jpg" alt="Banner Form">
        </div>
    </div>

    <!-- SCRIPT JS -->
    <script src="../../assets/js/script.js"></script>
    <!-- END SCRIPT JS -->
  </body>
</html>
