<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benius Freelancer | Category Page</title>

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- END STYLE CSS -->
  </head>
  <body>

    <div class="container">
        <div class="navbar">
            <img src="../../assets/img/brand/brand-logo.svg" class="form-logo" alt="Brand Logo" width="52">
            <div class="input-search">
                <input type="text" placeholder="What service are you looking..">
                <label>
                    <div class="line"></div>
                    <div class="search-icon"></div>
                </label>
            </div>
            <div class="nav-wrapper">
                <div class="nav-item">
                    <img src="../../assets/img/icon/notification.svg" class="nav-item-icon" alt="Nav Item">
                </div>
                <div class="nav-item">
                    <img src="../../assets/img/icon/order.svg" class="nav-item-icon" alt="Nav Item">
                </div>
                <div class="nav-item">
                    <img src="../../assets/img/icon/light-mode.svg" class="nav-item-icon" alt="Nav Item">
                </div>
            </div>
            <a href="../profile-page/index.html">
                <img src="../../assets/img/profile/profile-img.svg" class="profile-img" alt="Profile Image" width="46">
            </a>
        </div>
    </div>
    <div class="category-list">
        <div class="container">
            <div class="wrapper">
                <a href="../category-page/index.html">Digital Marketing</a>
                <a href="../category-page/index.html" class="active">Programming & Tech</a>
                <a href="../category-page/index.html">Graphics & Design</a>
                <a href="../category-page/index.html">Video & Animation</a>
                <a href="../category-page/index.html">Writing & Translation</a>
                <a href="../category-page/index.html">Music & Audio</a>
                <a href="../category-page/index.html">Business</a>
                <a href="../category-page/index.html">AI Services</a>
                <a href="../category-page/index.html">Photography</a>
                <a href="../category-page/index.html">Data</a>
                <a href="../category-page/index.html">Marketing & Sponsorship</a>
            </div>
        </div>
    </div>
    <section class="banner">
        <div class="container">
            <h1 class="title">Programming & Tech</h1>
            <p class="paragraph">Explore the world of Programming & Tech. From coding to cutting-edge technology, discover a diverse range of services offered by skilled professionals in this dynamic field.</p>
            <a href="#popular" class="button-default-white-reverse">Explore Service</a>
        </div>
    </section>
    <div class="container">
        <section class="popular" id="popular">
            <div class="header">
                <h4 class="subtitle">Most Popular Service in Programming & Tech</h4>
                <p class="paragraph">Exploring the Programming & Tech world's favorite service</p>
            </div>
            <div class="content">
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-1.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Sarah Viloid</p>
                        <h6 class="price">IDR. 500.000</h6>
                    </div>
                    <p class="description">I will build your professional wix website with unlimited revisions</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(12.456)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-2.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Adrian Velgona</p>
                        <h6 class="price">IDR. 375.000</h6>
                    </div>
                    <p class="description">I will design a 3d interactive and animated webflow landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(10.876)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-3.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Dimas Saputra</p>
                        <h6 class="price">IDR. 690.000</h6>
                    </div>
                    <p class="description">I will develop, design and kickstart your ecommerce shopify website</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(9.852)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-4.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Ayu Saputri</p>
                        <h6 class="price">IDR. 550.000</h6>
                    </div>
                    <p class="description">I will build custom wordpress landing page that converts</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(8.543)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-5.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Widya Salomon</p>
                        <h6 class="price">IDR. 400.000</h6>
                    </div>
                    <p class="description">I will develop editable hubspot websites, blogs, and landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(8.456)</p>
                    </div>
                </a>
            </div>
        </section>
        <section class="sub-category">
            <a href="../subcategory-page/index.html" class="sub-card">
                <img src="../../assets/img/sub-category/html.svg" class="sub-category-icon" alt="Sub Category Icon" width="42">
                <div class="wrapper-category">
                    <p class="title">HTML 5</p>
                    <p class="total">128 service founds</p>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right" alt="Arrow Right Dark Icon" width="10" style="opacity: 0.72;">
            </a>
            <a href="../subcategory-page/index.html" class="sub-card">
                <img src="../../assets/img/sub-category/css.svg" class="sub-category-icon" alt="Sub Category Icon" width="42">
                <div class="wrapper-category">
                    <p class="title">CSS 3</p>
                    <p class="total">172 service founds</p>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right" alt="Arrow Right Dark Icon" width="10" style="opacity: 0.72;">
            </a>
            <a href="../subcategory-page/index.html" class="sub-card">
                <img src="../../assets/img/sub-category/js.svg" class="sub-category-icon" alt="Sub Category Icon" width="42">
                <div class="wrapper-category">
                    <p class="title">JavaScript</p>
                    <p class="total">284 service founds</p>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right" alt="Arrow Right Dark Icon" width="10" style="opacity: 0.72;">
            </a>
            <a href="../subcategory-page/index.html" class="sub-card">
                <img src="../../assets/img/sub-category/c-.svg" class="sub-category-icon" alt="Sub Category Icon" width="42">
                <div class="wrapper-category">
                    <p class="title">C++</p>
                    <p class="total">159 service founds</p>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right" alt="Arrow Right Dark Icon" width="10" style="opacity: 0.72;">
            </a>
            <a href="../subcategory-page/index.html" class="sub-card">
                <img src="../../assets/img/sub-category/typescript.svg" class="sub-category-icon" alt="Sub Category Icon" width="42">
                <div class="wrapper-category">
                    <p class="title">TypeScript</p>
                    <p class="total">98 service founds</p>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right" alt="Arrow Right Dark Icon" width="10" style="opacity: 0.72;">
            </a>
            <a href="../subcategory-page/index.html" class="sub-card">
                <img src="../../assets/img/sub-category/java.svg" class="sub-category-icon" alt="Sub Category Icon" width="42">
                <div class="wrapper-category">
                    <p class="title">Java</p>
                    <p class="total">184 service founds</p>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right" alt="Arrow Right Dark Icon" width="10" style="opacity: 0.72;">
            </a>
            <a href="../subcategory-page/index.html" class="sub-card">
                <img src="../../assets/img/sub-category/php.svg" class="sub-category-icon" alt="Sub Category Icon" width="42">
                <div class="wrapper-category">
                    <p class="title">PHP</p>
                    <p class="total">284 service founds</p>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right" alt="Arrow Right Dark Icon" width="10" style="opacity: 0.72;">
            </a>
            <a href="../subcategory-page/index.html" class="sub-card">
                <img src="../../assets/img/sub-category/react.svg" class="sub-category-icon" alt="Sub Category Icon" width="42">
                <div class="wrapper-category">
                    <p class="title">React</p>
                    <p class="total">103 service founds</p>
                </div>
                <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-dark-right" alt="Arrow Right Dark Icon" width="10" style="opacity: 0.72;">
            </a>
        </section>
        <section class="result">
            <div class="header">
                <h4 class="subtitle">All Service in Programming & Tech</h4>
                <p class="paragraph">Exploring the Programming & Tech world's service</p>
            </div>
            <div class="content">
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-1.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Sarah Viloid</p>
                        <h6 class="price">IDR. 500.000</h6>
                    </div>
                    <p class="description">I will build your professional wix website with unlimited revisions</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(12.456)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-2.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Adrian Velgona</p>
                        <h6 class="price">IDR. 375.000</h6>
                    </div>
                    <p class="description">I will design a 3d interactive and animated webflow landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(10.876)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-3.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Dimas Saputra</p>
                        <h6 class="price">IDR. 690.000</h6>
                    </div>
                    <p class="description">I will develop, design and kickstart your ecommerce shopify website</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(9.852)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-4.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Ayu Saputri</p>
                        <h6 class="price">IDR. 550.000</h6>
                    </div>
                    <p class="description">I will build custom wordpress landing page that converts</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(8.543)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-5.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Widya Salomon</p>
                        <h6 class="price">IDR. 400.000</h6>
                    </div>
                    <p class="description">I will develop editable hubspot websites, blogs, and landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(8.456)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-6.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Destina Ayu</p>
                        <h6 class="price">IDR. 500.000</h6>
                    </div>
                    <p class="description">I will build, update or fix webflow website in your budget</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(1.355)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-7.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Albert Weisker</p>
                        <h6 class="price">IDR. 405.000</h6>
                    </div>
                    <p class="description">I will develop webflow website and convert figma to webflow</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(2.009)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-8.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Leon Kennedy</p>
                        <h6 class="price">IDR. 690.000</h6>
                    </div>
                    <p class="description">I will develop editable hubspot cms, website, blog, landing page, modules, and emails</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(1.345)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-9.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Dewa Putra</p>
                        <h6 class="price">IDR. 550.000</h6>
                    </div>
                    <p class="description">I will create elementor pro wordpress site and fix issues</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(983)</p>
                    </div>
                </a>
                <a href="../detail-service/index.html" class="card-service">
                    <img src="../../assets/img/service/sample-service-10.jpg" class="service-img" alt="Service Image">
                    <div class="wrapper-card">
                        <p class="author">By Agus Putrawan</p>
                        <h6 class="price">IDR. 400.000</h6>
                    </div>
                    <p class="description">I will build a high converting landing page</p>
                    <div class="rating">
                        <p>5.0</p>
                        <div class="star">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                            <img src="../../assets/img/icon/star.svg" class="star-icon" alt="Star Icon" width="15" height="14">
                        </div>
                        <p class="total">(3.786)</p>
                    </div>
                </a>
            </div>
        </section>
    </div>
    <section class="adventage">
        <div class="container">
            <div class="header">
                <h4 class="subtitle">How clients like you are achieving their goals</h4>
                <p class="paragraph">Hear what our satisfied clients have to say about our freelancer platform</p>
            </div>
            <div class="content">
                <div class="card-testimoni">
                    <img src="../../assets/img/icon/quote.svg" class="quote-icon" alt="Quote Icon" width="32">
                    <p class="message">"I'm very impressed with the professionalism and expertise of the Digital Marketing freelancers I found on this platform."</p>
                    <div class="wrapper-profile">
                        <img src="../../assets/img/testimoni/sample-testimoni-1.svg" alt="Testimoni Icon" width="34">
                        <p class="username">Astri Silawati</p>
                    </div>
                    <div class="wrapper-category">
                        <div class="link-redirect">
                            <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-right-dark-icon" alt="Arrow Right Dark" width="10">
                        </div>
                        <a href="../category-page/index.html" class="category">Digital Marketing</a>
                    </div>
                </div>
                <div class="card-testimoni">
                    <img src="../../assets/img/icon/quote.svg" class="quote-icon" alt="Quote Icon" width="32">
                    <p class="message">"I was looking for a web designer for my project and found an exceptional freelancer here. The results exceeded my expectations"</p>
                    <div class="wrapper-profile">
                        <img src="../../assets/img/testimoni/sample-testimoni-2.svg" alt="Testimoni Icon" width="34">
                        <p class="username">Wilson Carmella</p>
                    </div>
                    <div class="wrapper-category">
                        <div class="link-redirect">
                            <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-right-dark-icon" alt="Arrow Right Dark" width="10">
                        </div>
                        <a href="../category-page/index.html" class="category">Web Designer</a>
                    </div>
                </div>
                <div class="card-testimoni">
                    <img src="../../assets/img/icon/quote.svg" class="quote-icon" alt="Quote Icon" width="32">
                    <p class="message">"I have worked with several Content Writers on this platform, and they are all very talented. They are always on time, and the quality of their writing"</p>
                    <div class="wrapper-profile">
                        <img src="../../assets/img/testimoni/sample-testimoni-3.svg" alt="Testimoni Icon" width="34">
                        <p class="username">Maya Emily</p>
                    </div>
                    <div class="wrapper-category">
                        <div class="link-redirect">
                            <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-right-dark-icon" alt="Arrow Right Dark" width="10">
                        </div>
                        <a href="../category-page/index.html" class="category">Content Writer</a>
                    </div>
                </div>
                <div class="card-testimoni">
                    <img src="../../assets/img/icon/quote.svg" class="quote-icon" alt="Quote Icon" width="32">
                    <p class="message">""This platform has helped me fill the gaps in my team quickly. I found a skilled programmer here, and we managed to launch our product"</p>
                    <div class="wrapper-profile">
                        <img src="../../assets/img/testimoni/sample-testimoni-4.svg" alt="Testimoni Icon" width="34">
                        <p class="username">Ivana Sunderin</p>
                    </div>
                    <div class="wrapper-category">
                        <div class="link-redirect">
                            <img src="../../assets/img/icon/arrow-right-dark.svg" class="arrow-right-dark-icon" alt="Arrow Right Dark" width="10">
                        </div>
                        <a href="../category-page/index.html" class="category">Programming & Tech</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="cta">
            <h1 class="title">Become an Freelancer</h1>
            <p class="paragraph">Join us as a freelancer and embark on a journey of limitless opportunities. Whether you're a seasoned professional or just starting your freelance career, our platform provides you with the tools, resources, and a supportive network to thrive in the ever-evolving gig economy.</p>
            <div class="wrapper-button">
                <a href="../personal-info/index.html" class="button-default-dark">Register Freelancer</a>
                <a href="../main-page/index.html#recent" class="button-default-dark-reverse">Explore Service</a>
            </div>
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="content-definition">
                    <img src="../../assets/img/brand/brand-logo-reverse.svg" class="brand-logo" alt="Brand Logo Reverse" width="52">
                    <p class="caption">Welcome to our freelancer platform, where talent meets opportunity. We're your gateway to a world of skilled professionals and exciting projects.</p>
                    <div class="footer-sosmed">
                        <a target="_block" href="https://www.facebook.com/" class="sosmed-link">
                            <img src="../../assets/img/icon/facebook-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a target="_block" href="https://www.whatsapp.com/" class="sosmed-link">
                            <img src="../../assets/img/icon/whatsapp-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a target="_block" href="https://twitter.com/home?lang=id" class="sosmed-link">
                            <img src="../../assets/img/icon/twitter-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                    </div>
                </div>
                <div class="link-footer">
                    <div class="link-group first">
                        <p class="footer-title">Category</p>
                        <div class="wrapper-footer">
                            <div class="footer-list">
                                <a href="../category-page/index.html" class="list-link">Digital Marketing</a>
                                <a href="../category-page/index.html" class="list-link">Programming & Tech</a>
                                <a href="../category-page/index.html" class="list-link">Graphics & Design</a>
                                <a href="../category-page/index.html" class="list-link">Video & Animation</a>
                                <a href="../category-page/index.html" class="list-link">Business</a>
                            </div>
                            <div class="footer-list">
                                <a href="../category-page/index.html" class="list-link">Writing & Translation</a>
                                <a href="../category-page/index.html" class="list-link">Music & Audio</a>
                                <a href="../category-page/index.html" class="list-link">AI Services</a>
                                <a href="../category-page/index.html" class="list-link">Photography</a>
                                <a href="../category-page/index.html" class="list-link">Data</a>
                            </div>
                        </div>
                    </div>
                    <div class="link-group">
                        <p class="footer-title">Our Adventage</p>
                        <div class="footer-list">
                            <a href="../main-page/index.html#adventage" class="list-link">Browse portfolios</a>
                            <a href="../main-page/index.html#adventage" class="list-link">Fast offer</a>
                            <a href="../main-page/index.html#adventage" class="list-link">Quality of work</a>
                            <a href="../main-page/index.html#adventage" class="list-link">Track progress</a>
                        </div>
                    </div>
                    <div class="link-group">
                        <p class="footer-title">Help & guide</p>
                        <div class="footer-list">
                            <a href="#" class="list-link">Terms & Conditions</a>
                            <a href="#" class="list-link">Privacy Policy</a>
                            <a href="#" class="list-link">Trust & Safety</a>
                            <a href="#" class="list-link">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="content-definition mobile">
                    <img src="../../assets/img/brand/brand-logo-reverse.svg" class="brand-logo" alt="Brand Logo Reverse" width="52">
                    <p class="caption">Welcome to our freelancer platform, where talent meets opportunity. We're your gateway to a world of skilled professionals and exciting projects.</p>
                    <div class="footer-sosmed">
                        <a target="_block" href="https://www.facebook.com/" class="sosmed-link">
                            <img src="../../assets/img/icon/facebook-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a target="_block" href="https://www.whatsapp.com/" class="sosmed-link">
                            <img src="../../assets/img/icon/whatsapp-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                        <a target="_block" href="https://twitter.com/home?lang=id" class="sosmed-link">
                            <img src="../../assets/img/icon/twitter-solid.svg" alt="Social Medium Solid Icon" width="15">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright © 2023 Benius. All Right Reserved.</p>
    </footer>

    <!-- SCRIPT JS -->
    <script src="../../assets/js/script.js"></script>
    <!-- END SCRIPT JS -->
  </body>
</html>
